[2018-03-19 14:21] mayterry88 opened #1 "Test"
this is a test

[2018-03-19 14:23] markkramerus commented on #1
It worked

[2018-03-19 14:23] #1 closed, assigned to nobody

[2018-03-19 14:25] rutemartins opened #2 "Add narrative intro to extensions"

[2018-03-19 14:41] markkramerus opened #3 "Logical Model should use Coding instead of CodeableConcept"
Our logical models appear more complex than they could be because we are using the FHIR datatypes for coded values in the logical model. If we used something like "Concept" (a new datatype just for the logical models) that didn't have as much structure and did not require slicing, it would be easier to read the logical models.
The example shown below is from the 3-19-2018 version of the IG, for Br

[2018-03-19 14:58] cmoesel commented on #3
Perhaps I'm not understanding you, but I don't see how we can use a "Concept" element "just for logical models" -- since the same CIMPL is used for profile and logical models.

Are you referring to the previous discussion of replacing all `Coding`/`CodeableConcept` in SHR w/ a single `Concept` element that knows how to map into those?

[2018-03-19 18:27] markkramerus opened #4 "Base model is not fully CIMI compliant"
The class hierarchy builds classes by inheriting through StatementTopic, not ClinicalStatement. There were some bugs in the profiles when I tried using the full ClinicalStatement pattern. The profile generator was dying trying to map paths like MyClinicalStatement.MyTopic.MyAttribute . There is a branch, may-2018-ballot-topic-context that demonstrates the problem.

[2018-03-19 19:00] okeefm opened #5 "Child elements with zeroed out inherited fields aren't clear which field is being zeroed out"
When you have an element that inherits from another (such as `BreastSite` inheriting from `AnatomicalLocation`), and the child element zeroes out a field from the parent so it can't be set (such as `0..0 Directionality`), the resulting IG Table can miss important info (such as the name of the zeroed out field)

Example screenshot:
<img width="871" alt="screen shot 2018-03-19 at 2 43 11 pm" src="ht

[2018-03-19 19:11] cmoesel commented on #5
I've looked into this and confirmed that in the profile, we do provide the [short](StructureDefinition-oncology-BreastSite.html) description (e.g., "Directionality") that we'd expect in the _Descriptions & Constraints_ column (as well as the [binding](https://github.com/standardhealth/ballot/blob/expanded/site/StructureDefinition-oncology-BreastSite.json#L597-L602) to a directionality VS).

Since

[2018-03-19 19:36] okeefm commented on #5
An interesting note: that zeroed out slice doesn't appear on the `Snapshot Table` or the `All` table, just the Differential one

[2018-03-19 19:40] cmoesel commented on #5
Yeah -- it's actually represented the _same_ in the snapshot and differential of the actual profile -- so that difference in display is purely a result of the IG publisher.

[2018-03-19 20:08] okeefm opened #6 "Terminology binding names are all set to "?ext""
In the IG, all the Terminology Binding `name` fields are set to `?ext`, not the actual name of the binding.

<img width="715" alt="screen shot 2018-03-19 at 3 59 11 pm" src="https://user-images.githubusercontent.com/49001/37619394-c0cf35cc-2b8f-11e8-836f-4acb94222acf.png">

Example IG link: https://cdn.rawgit.com/standardhealth/ballot/expanded/site/StructureDefinition-oncology-BreastCancer.html

A

[2018-03-19 20:22] cmoesel commented on #6
I'm not sure what these are exactly -- but I wonder if the name is intended to be resolved via the terminology service?  This will require some further investigation.  The fact that it works on the SHR.org one might indicate it is a difference introduced by the 3.2 publisher (the SHR.org one uses the 3.0.1 publisher).

[2018-03-20 13:24] okeefm commented on #6
Also, the Terminology Binding links in the Differential Table actually link to the definitions in the GitHub repos, but the ones in this table link to the link displayed (the hl7.org one), so they don't resolve.

[2018-03-20 15:10] markkramerus commented on #2
What does this means? We aren't going to write custom, individualized descriptions of each extension. Is that what you mean?

[2018-03-20 15:14] markkramerus commented on #3
See if there is a way to replace CodeableConcept with Coding everywhere CodeableConcept is used in a logical model. We never need CodeableConcept in a logical model.

[2018-03-21 13:58] mayterry88 opened #7 "HistologicGrade should have a reference to the histologic type in the BreastCancer profile."
There could be multiple histologic types with varying histologic grades for a cancer type.  Without a reference, there would be no clear association to the specific histologic type associated BreastCancer and could in turn affect the overall stage calculation.

[2018-03-21 17:36] markkramerus commented on #7
I think we are ok with this because we can navigate from the cancer condition to its staging and thence to the histologic grade. The cancer condition has the histologic type. If it proves useful to ALSO have the histologic type in the histologic grade, we could include that element, but it would be a copy of information available elsewhere.

[2018-03-21 17:37] markkramerus commented on #3
Looks like this is done in the last version of the logical models. Should I close it?

[2018-03-21 17:43] #3 closed, assigned to cmoesel

[2018-03-22 00:04] #7 closed, assigned to nobody

[2018-03-22 04:51] cmoesel commented on #4
I've fixed this bug.  The SHR-CLI runs clean and the resulting guide looks good at first glance.  That said, "first glance" only lasted about 90 seconds, so you should review it further.  @markkramerus:  I'll send you more detail and a link to the generated guide via email.

[2018-03-22 17:45] markkramerus opened #8 "Upside down class hierarchy in MoraDoc"
Locatable is the top level class. The class tree is backwards.

![capture](https://user-images.githubusercontent.com/492232/37788175-25225c90-2dd7-11e8-941e-967539df3ed3.JPG)

[2018-03-22 17:48] Abhijay commented on #8
Oh hmm... I'll have to see what's going on there.

After a quick look: It doesn't to be happening to all elements, only certain cases. I'll investigate

[2018-03-22 18:18] markkramerus opened #9 "Menu Bar Simple Fix"
Can you move the "Launch Model Browser" link to the far right, and re-name it "Reference Model"?
![capture](https://user-images.githubusercontent.com/492232/37789955-9d4522e4-2ddb-11e8-8410-3abfeb772ed6.JPG)

[2018-03-22 18:32] cmoesel commented on #9
Yes

[2018-03-22 18:56] #8 closed, assigned to Abhijay

[2018-03-22 19:11] Abhijay commented on #8
It is resolved in the latest build of the logical_models cli.

(However, the IGPublisher is currently broken (tx.fhir.org is down), so we can't push the new IG out until that is fixed)

[2018-03-22 19:36] Abhijay commented on #8
Update: is now resolved in latest build

http://build.fhir.org/ig/HL7/us-breastcancer/modeldoc/index.html

[2018-03-22 21:15] cmoesel commented on #9
@markkramerus - Depending on what you mean by "far right" this is either fixed or not.  It's the right-most item in the menu now -- but it's not aligned-right on the screen if that's what you meant.  Is this good enough?
![ig-menu](https://user-images.githubusercontent.com/2278253/37798952-a50f3c12-2df4-11e8-93cf-f7a3cc1718ad.png)

[2018-03-22 21:16] cmoesel commented on #4
@markkramerus - have you had time to review this well enough to determine if we can close the issue?

[2018-03-22 21:21] cmoesel opened #10 "Too many places to keep the IG materials"
Right now, we have:
* CIMPL definitions in [standardhealth/shr_spec](standardhealth/shr_spec)
* IG source in [HL7/us-breastcancer](HL7/us-breastcancer)
* The full-ig.zip and expanded branches in this repo
* And the auto-build results on [build.fhir.org](http://build.fhir.org/ig/HL7/us-breastcancer/index.html)

Is it ok to stop updating `full-ig.zip` and expanded branches here, and replace them wit

[2018-03-22 21:25] markkramerus commented on #4
Just did. It's not fixed satisfactorily. CLI runs clean, but the profiles aren't right. Compare the profile pages for StructureDefinition-oncology-BreastCancerPresenceStatement.html generated from the may-2018-ballot-topic-context branch:
![capture](https://user-images.githubusercontent.com/492232/37799307-c1014928-2df5-11e8-99f3-124951028564.JPG)
versus the one generated with the may-2018-ballot

[2018-03-22 21:46] cmoesel commented on #4
Hmmm... OK.  I'll have to look at that then.

[2018-03-22 21:47] cmoesel opened #11 "Add npm info to IG config"
See: https://chat.fhir.org/#narrow/stream/committers/subject/Freeze/near/136568

[2018-03-22 21:55] cmoesel opened #12 "Reference Model Browser ("Mora-Doc") needs to be valid XML"
See: https://chat.fhir.org/#narrow/stream/IG.20creation/topic/Including.20non-XHTML.20pages

[2018-03-22 22:42] markkramerus opened #13 "Ugly column spacing due to lack of spaces between class names"
See http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-HER2byISH.html
The Snapshot tab, the far right column (Description & Constraints) is really squished.
The reason is the length of this line:

Reference(CarePlanDeviceRequestImmunizationRecommendationMedicationRequestNutritionOrderProcedureRequestReferralRequest)

This isn't our code, unfortunately. Can someone (Chris) pa

[2018-03-22 22:45] markkramerus opened #14 "Missing valueQuantity in component"
See the IG page for HER2ReceptorStatusISH: http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-HER2byISH.html)

In the profile, valueQuantity is missing from the profile in two of the components (AverageHER2SignalsPerCell and AverageCEP17SignalsPerCell)

Note: this is the same bug as[ HIGH PRIORITY: Observation Components in profile are missing valueQuantity #75](https://gith

[2018-03-22 22:46] markkramerus commented on #12
Abhijay, please run an html validator on the html and make sure we have closed our brackets, dotted our eyes, and crossed our toes.

[2018-03-22 22:51] markkramerus commented on #9
This is perfect. That's what I meant.

[2018-03-22 22:51] #9 closed, assigned to nobody

[2018-03-22 23:56] cmoesel commented on #4
![fixedbreastcancerpresencestatement](https://user-images.githubusercontent.com/2278253/37804518-04bfd106-2e0b-11e8-820b-c9e4ec07d9cc.png)

Better?

[2018-03-23 00:57] cmoesel commented on #14
Seems like when we apply a constraint on the Quantity, it shows up.  But if we don't... gone!  Will debug it.

[2018-03-23 02:11] cmoesel commented on #14
Fixed.  See the standardhealth/shr-cli#75 for the screenshot.

[2018-03-23 02:56] Abhijay commented on #12
Update: the xhtml files are now schema-valid. There are still many 'broken' links that may or may not need to be fixed, determination still pending.

xhtml files fixed here: https://github.com/standardhealth/shr-json-javadoc/pull/4

[2018-03-23 15:14] cmoesel commented on #13
This is more than a UI bug, as it seems that the JSON download of the artifact also strips out the reference targets from that choice.  There is a Zulip thread tracking this:
https://chat.fhir.org/#narrow/stream/IG.20creation/topic/Bad.20Choice.20Rendering.20.2B.20JSON.20mangling

[2018-03-23 15:14] #14 closed, assigned to cmoesel

[2018-03-23 15:14] cmoesel commented on #11
Done.

[2018-03-23 15:14] #11 closed, assigned to nobody

[2018-03-23 15:15] cmoesel opened #15 "Logical Models don't support nested type constraints"

[2018-03-23 22:55] markkramerus opened #16 "Issues in Topic-Context branch"
The current commit (3-23-2018 at about 6:45 pm) on the may-2018-ballot-topic-context has a couple of bugs.
1) If you un-comment lines 206 and/or 207 you will see a bug that prevents me from constraining a 0..1 cardinality to 0..0.
2) If you un-comment line 348, you will see a bug that prevents restricting a choice.
3) It was crashing right and left (without a clue as to why) until I finally discov

[2018-03-25 01:46] cmoesel commented on #15
Fixed.

[2018-03-25 01:46] #15 closed, assigned to cmoesel

[2018-03-25 01:47] cmoesel commented on #13
Thankfully, this is fixed!

[2018-03-25 01:47] #13 closed, assigned to cmoesel

[2018-03-25 01:48] cmoesel commented on #10
@markkramerus -- what do you think?

[2018-03-25 23:34] cmoesel opened #17 "http://loinc.org is not a value set"
The `cimi.txt` definitions contain the following:
[code]

This is not valid, as http://loinc.org is not a value set.  As a result, the FHIR IG Publisher emits a warning.  If the intent is to cover all codes in LOINC, consider: http://hl7.org/fhir/ValueSet/observation-codes

See: https://github.com/standardhealth/shr_spec/blob/may-2018-ballot/spec/cimi.txt#L170

[2018-03-26 00:20] cmoesel opened #18 "Tracking IG Publisher Issues"
I've posted the following IG Publisher issues to Zulip (all of which affect our current IG).  We should track them.  I'll update this page as the statuses change.

* [IG Pub warning on keyword: No Message Returned](https://chat.fhir.org/#narrow/stream/IG.20creation/topic/IG.20Pub.20warning.20on.20keyword.3A.20No.20Message.20Returned)
* [sdf-1: Element paths must be unique unless the structure is..

[2018-03-26 14:53] rutemartins opened #19 "Primary logical models should include all oncology.txt elements"
The primary logical models table does not contain all breast-cancer specific data elements (e.g. it's missing result components for HER2byISH). However, it includes similar supporting elements such as BreastSite and BreastSpecimen. I understand what determines the inclusion of elements in the primary table is whether they are defined as EntryElements, but the distinction from a conceptual standpoi

[2018-03-26 14:54] rutemartins commented on #2
No - I mean an intro on the extensions page that explains briefly what the body of content is about.

[2018-03-26 15:15] cmoesel commented on #2
@rutemartins -- I'm still not tracking.  Do you mean you want some narrative text on this page?
http://build.fhir.org/ig/HL7/us-breastcancer/extensions.html

If so, can you propose some text?

[2018-03-26 15:49] rutemartins opened #20 "Can we be consistent in the datatype we use for codeable concepts?"
Sometimes we use `code`, sometimes we use `Coding`. Why do we use both and does it make sense to consolidate?

[2018-03-26 17:52] cmoesel commented on #20
The CIMPL definitions have `code`, `Coding`, and `CodeableConcept`.  In the logical models, we downgrade all `CodeableConcept` to `Coding`, but we leave `code` as-is.

In FHIR, usually `code` is used if the element is from a _required_ value set (for example, on `status` elements).  I expect that where you see `code` in our models, it is there to align w/ FHIR.

If @markkramerus wants it, we could

[2018-03-26 18:27] cmoesel commented on #19
@markkramerus will have to confirm if he wants this.  We discussed it last week and he said he was going to make the entry/non-entry thing work.

The problem with the idea of a primary *namespace* is that not all IGs will have a primary namespace (or may have more than one).  For example, the IG we make for all of SHR -- what would you consider its primary namespace to be?

That said, I may be abl

[2018-03-26 22:16] markkramerus commented on #17
Good catch, thanks. Simple change.

[2018-03-26 22:16] #17 closed, assigned to markkramerus

[2018-03-26 22:18] markkramerus commented on #19
I noticed this too, and for clarity, I can change the oncology elements to EntryElements to boost them to the top table, even though components shouldn't be entries.

[2018-03-27 01:28] cmoesel commented on #5
Fixed.

[2018-03-27 01:28] #5 closed, assigned to okeefm, cmoesel

[2018-03-27 01:29] cmoesel commented on #17
Can you push this to the `may_2018_ballot` branch?  I'd like to stop seeing that error -- as it's one of the only ones left!

[2018-03-27 01:44] cmoesel opened #21 "Logical Models don't support slicing -- how to represent "includes code" type?"
Logical models do not support slicing (see [thread1](https://chat.fhir.org/#narrow/stream/IG.20creation/topic/sdf-1.3A.20Element.20paths.20must.20be.20unique.20unless.20the.20structure.20is) and [thread2](https://chat.fhir.org/#narrow/stream/implementers/topic/Logical.20Model.20and.20slicing.20for.20terminology)).  We can get around this in most cases, but the one remaining case is "includes code"

[2018-03-27 01:47] cmoesel commented on #21
@markkramerus -- I need you to weigh in on this.

[2018-03-27 10:36] markkramerus commented on #19
On the other hand, I don't want to generate profiles for components.  Leaving as is.

[2018-03-27 10:39] markkramerus opened #22 "Need help with Slicing ASAP"
Just did a commit to may-2018-ballot (6:35 am on 3/27/2018). I realized I wasn't mapping BreastSpecimen correctly, and the ColdIschemiaTime needs to be a slide in the Specimen.processing array. I can't quite figure out how to accomplish it, so I need help on the correct grammar. My intent will be clear from the following:

BreastSpecimen maps to Specimen:
	ColdIschemiaTime maps to processing (slic

[2018-03-27 10:44] markkramerus commented on #21
Two options:
1) Include this in a "Known Limitations" documentation section and do nothing else (since the ballot materials must be finalized by Friday, preferably Thursday since I'll be driving to Rochester in the car most of the day on Friday)
2)  My preference, if we decide to fix it once and for good would be to respect the upper cardinality, and allow multiple Categories -- as in the second o

[2018-03-27 12:56] cmoesel commented on #21
I don't know if `1` ("known limitation") is an option.  It depends on how serious the FHIR team is about IG's having _no errors_.  As it is now, this is a spec violation reported by the IG publisher.

[2018-03-27 13:13] cmoesel commented on #22
OK.  I'll take a look at this.

One thing I see right away: the proper grammar for _fixing_ values is `fix x to y`, so your last line needs to be:
[code]
BUT... there is currently a further limitation in the grammar when fixing strings; it doesn't support strings that contain any spaces.  So even the fixed rule above will cause problems since `"Cold Ischemia Time"` contains spaces.

[2018-03-27 13:37] cmoesel commented on #22
OK.  This is what you need:
[code]

A few notes regarding the fixes:
* The original mapping said to slice on `code.coding`, but `processing` doesn't have a `code` property.  We really need to slice on `procedure`.
* The original mapping mapped `ColdIschemiaTime` twice (once to `processing` and once to `processing.time[x]`).  The second time, we're really trying to map the _value_ (hence `ColdIsche

[2018-03-27 13:40] cmoesel commented on #22
Better?

![image](https://user-images.githubusercontent.com/2278253/37970972-cf4f5ee2-31a2-11e8-86de-09c9bd9a4bfd.png)

[2018-03-27 13:43] cmoesel commented on #22
On second thought, do you *really* want to fix the `description`?  You're indicating that when people send this data, they must include a `description` and it must be that specific value.  I think this may be too rigid -- and it doesn't allow people to provide more detail in the description.

It seems to me that fixing the code to LOINC 44778-9 should be enough to enforce what it is, and the docum

[2018-03-27 13:48] markkramerus commented on #22
excellent. Thanks.

[2018-03-27 13:48] #22 closed, assigned to cmoesel

[2018-03-27 14:22] markkramerus commented on #4
OK, we are going to switch to the topic-context branch as our "go to ballot" branch.

[2018-03-27 14:22] #4 closed, assigned to nobody

[2018-03-27 14:23] markkramerus commented on #12
Is this ready to close?

[2018-03-27 14:24] markkramerus commented on #16
Confirmed. Closing

[2018-03-27 14:24] #16 closed, assigned to cmoesel

[2018-03-27 14:25] markkramerus commented on #20
I think we should leave this as is, for now. I suggest we move this bug to out of ballot for addressing at a later date.

[2018-03-27 14:25] okeefm opened #23 "Unlimited Codings allowed for `<Field> is <code>` CIMPL in IG"
If an element is defined with a `<Field> is <code>` definition, such as `TopicCode is LNC#76544-6`, one would expect that the `Coding` element that maps to would allow `1..1` of these `Coding`s. Instead, you are allowed to have `0..*` of these same `Coding` elements, all fixed to the same code.

Element that exhibits the issue: http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncol

[2018-03-27 15:16] cmoesel commented on #12
Depends on how you want to look at it.  Files are XHTML now, but IG Publisher is reporting lots of broken links.  That's what @Abhijay is looking at now.

So we can close it and open a new issue to fix the links, or we can keep it open until the links are fixed.

[2018-03-27 15:37] cmoesel commented on #23
Fixed.
![image](https://user-images.githubusercontent.com/2278253/37978093-2f1ecc44-31b3-11e8-8067-83206f83f0d3.png)

[2018-03-27 15:37] #23 closed, assigned to nobody

[2018-03-27 15:39] cmoesel commented on #23
Here's the differential view (matching your original screenshot)...
![image](https://user-images.githubusercontent.com/2278253/37978176-71df3000-31b3-11e8-8d53-9865983c4321.png)

[2018-03-27 16:00] cmoesel commented on #21
That 2nd approach doesn't sit well with me.  On further thought, I think we can use a `constraint` (a.k.a. `invariant`) to indicate that the first code must #disease.  I'll see if I can figure out the right expression to say that.

The upside is that it doesn't affect the structure of the logical model.  The downside is that the fixed code requirement isn't as easy to notice.

[2018-03-27 17:20] Abhijay commented on #12
The pages are valid in both ways as of: https://github.com/standardhealth/shr-json-javadoc/releases/tag/v1.3.1

Will close this issue after it is merged into the cli.

[2018-03-27 20:40] #12 closed, assigned to Abhijay

[2018-03-27 20:42] cmoesel commented on #6
This is fixed in the latest builds of the IG publisher.

[2018-03-27 20:42] #6 closed, assigned to cmoesel

[2018-03-27 23:00] markkramerus opened #24 "Value set links are 404 and Absolute in Reference Model Browser"
They are all broken.  It's us-breastcancer, not us/breastcancer.

Moreover, should these be changed to relative links? They seem to be absolute (rooted at hl7.org). That will break when the IG is finally deployed. WE SHOULD NOT HAVE ANY ABSOLUTE LINKS (unless they go outside the IG).

This is an example of a bad link:  http://hl7.org/fhir/us/breastcancer/ValueSet/cimi-statement-DiagnosticServiceVS

[2018-03-28 02:22] cmoesel commented on #24
My understanding is that the IG will be deployed to http://hl7.org/fhir/us/breastcancer, and that redirects will be there as well, so in theory those links will be OK when the IG gets deployed for the ballot.  These are the canonical urls for the value sets, so we can’t change what they are (although we could change the underlying href target).

That said, it does make sense to have the links’ hre

[2018-03-28 04:58] cmoesel commented on #21
Fixed via an invariant:
![image](https://user-images.githubusercontent.com/2278253/38009613-2d862ea2-3223-11e8-870e-e9b3d0712739.png)

[2018-03-28 04:58] #21 closed, assigned to nobody

[2018-03-28 11:38] okeefm opened #25 "Disappearing Concept code?"
When I look at an Element like `BreastCancerStage`, which includes `0..1 StageTimingPrefix`; the `Value` of that timing element gets mapped onto the `BreastCancerStage` element, but the `Concept` code defined in the timing element appears to disappear. Is this intentional?

Link: http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-BreastCancerStage.html (view `oncology-StageT

[2018-03-28 12:22] okeefm opened #26 "Missing Display Name in component codings?"
When a `component` has a `Concept` with a code, system and display name, like `Concept: SCT#126926005 "M category"`, the `display` doesn't show up in the IG.

Link: http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-BreastCancerStage.html (any of the `BreastCancer<x>Classification` components exhibit this)

Example CIMPL:

Parent element:

    EntryElement:	BreastCancerStage

[2018-03-28 12:54] cmoesel commented on #25
Yes, this is expected.  The `Concept` of a CIMPL element is definitional.  It provides an external reference to the semantic meaning of the element.  It only shows up in the FHIR profiles if it is explicitly mapped to something (which in this case, it is not).

[2018-03-28 12:56] #25 closed, assigned to nobody

[2018-03-28 12:59] cmoesel commented on #26
We can't fix the `display`, as that would be too rigid (incoming data shouldn't _have_ to match on display).  That said, we may be able to put the display in the description field for the `coding` or the `code`.  I'll look into it.

[2018-03-28 13:00] okeefm commented on #26
That makes sense.

[2018-03-28 14:23] okeefm opened #27 "Code in Element doesn't match display text"
The element `CompleteMembraneStainingPercent`'s `Concept` code doesn't match the display text given for that code.

The code is LOINC code [16112-5](https://s.details.loinc.org/LOINC/16112-5.html), which is "Estrogen receptor [interpretation] in tissue", while the display text is from LOINC code [85328-3](https://r.details.loinc.org/LOINC/85328-3.html),

Offending line in the CIMPL:
https://github

[2018-03-28 14:35] markkramerus opened #28 "Logical Model missing Constraint on Value"
See BreastCancerHistologicGrade:

Profile -- looks correct
valueCodeableConcept  Binding: NottinghamCombinedGradeVS (required)

In Logical Model: No constraints on value

value[x] |   | 0..1 | http://hl7.org/fhir/us/breastcancer/StructureDefinition/shr-core-Quantity-model, Coding, string, boolean, http://hl7.org/fhir/us/breastcancer/StructureDefinition/shr-core-Range-model, http://hl7.org/fhir/us/

[2018-03-28 14:37] markkramerus opened #29 "Logical Model: Why is Topic expanded but Context is not?"
Example: http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-BreastCancerHistologicGrade-model.html

evaluationResultTopic is a backbone element
recorded context is not

Is there a reason for this?

[2018-03-28 14:37] cmoesel commented on #28
I'll check it out.

[2018-03-28 14:40] markkramerus opened #30 "Should value[x] appear as a sliced array?"
http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-BreastCancerHistologicGrade.html

I wonder why I see value[x] as a sliced array, and also right below it, valueCodeableConcept. I would think only the latter is necessary. See illustration.

![capture](https://user-images.githubusercontent.com/492232/38036232-45d7b4ca-3274-11e8-9865-44b33095d564.JPG)

[2018-03-28 14:45] markkramerus opened #31 "Value Set problems"
ClockDirectionVS - expansion error, no definition
ConditionCategoryVS - no defintiion
ConditionVS - no definition
DeltaFlagVS - no definition, expansion error
NottinghamCombinedGradeVS - no definition
YesNoUnknownVS - no definition
YesNoVS - no defintion

[2018-03-28 14:58] cmoesel commented on #29
Element fields are expanded when the logical model applies nested constraints on them.  In this case, `BreastCancerHistologicGrade` applies many constraints on `evaluationResultTopic`.
See: https://github.com/standardhealth/shr_spec/blob/may-2018-ballot-topic-context/spec/oncology.txt#L119-L130

If any of the nested constraints of a field change a type (`is type` or `includes type`) then the field

[2018-03-28 15:10] markkramerus commented on #31
Deleted CondtionVS, YesNoVS -- not used anywhere
Changed ClockDirectionVS to use Snomed
DeltaFlagVS - using Snomed

Fixed in topic-context branch.

[2018-03-28 15:10] #31 closed, assigned to markkramerus

[2018-03-28 15:55] markkramerus commented on #27
Fixed in CIMPL source

[2018-03-28 15:55] #27 closed, assigned to markkramerus

[2018-03-28 16:06] markkramerus opened #32 "Tab Label in Reference Model Browser"
Should not say Java Platform SE 7

![capture](https://user-images.githubusercontent.com/492232/38041670-601b3a62-3280-11e8-95cd-65f903d8392a.JPG)

[2018-03-28 16:26] cmoesel commented on #29
@markkramerus -- if you're happy w/ this explanation, please close this issue.  If you want further discussion, or if you'd like it to work a different way (for example, _always_ expanding field elements), please let me know.

[2018-03-28 17:06] okeefm opened #33 "CIMPL copy-edits"
https://github.com/standardhealth/shr_spec/pull/79

[2018-03-28 17:23] okeefm opened #34 "Double period in IG generation statement"
This sentence is at the top of all the profile/logical model pages:
`This logical model was published on Wed Mar 28 00:00:00 UTC 2018 as a draft by The HL7 Cancer Interoperability Group sponsored by Clinical Interoperability Council Work Group (CIC)..`

It has a double period at the end. Is this editable when we publish the IG?

Also, the time is not correct (unless you published this at exactly 8

[2018-03-28 17:33] okeefm opened #35 ""shr-" prefixes still exist in the IG"
URLs for types defined in this ballot still contain the `shr-` prefix:  http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-oncology-BreastCancerHistologicGrade-model-definitions.html contains several examples:

* http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-shr-core-Quantity-model.html
* http://build.fhir.org/ig/HL7/us-breastcancer/StructureDefinition-shr-core-Ran

[2018-03-28 17:40] rutemartins opened #36 "Ballot name needs to be updated"
Official name is HL7 FHIR® Implementation Guide: Breast Cancer Data, Release 1 - US Realm

[2018-03-28 17:41] rutemartins opened #37 "Note on broken URLs should be removed"
Remove "NOTE: Due to current limitations in the FHIR IG publishing tool, when a property's type is another logical model, that type is displayed as a canonical URL and is not linked to the corresponding logical model page. Future versions of the publishing tool are expected to address this." from logical models pages.

This is not expected to be a problem once the ballot is published.

[2018-03-28 17:42] okeefm opened #38 "Profiles & Logical models in VS "References" Section appear to be duplicates of each other"
If a ValueSet is referenced in both the Profile and Logical Model for a given type, they both show up as only the type definition (for example, `BreastCancerPresenceStatement`). This makes it look like the reference has been duplicated, when in fact they are different references. Do we care about this? And if so, is it possible to change this, or is it hardcoded into the IG generator?

Example: ht

[2018-03-28 17:57] cmoesel commented on #34
This is because the `publisher` property in the config.json has a period at the end:
[code]

That period really shouldn't be there.

https://github.com/standardhealth/shr_spec/blob/may-2018-ballot-topic-context/spec/config.json#L10

[2018-03-28 17:59] cmoesel commented on #35
Those prefixes reflect the namespaces from which the elements came.  I think they need to stay.

[2018-03-28 17:59] okeefm opened #39 "Diagnostic Service Valueset questions"
Where do the codes/definitions for the `DiagnosticServiceVS`, http://build.fhir.org/ig/HL7/us-breastcancer/ValueSet-cimi-statement-DiagnosticServiceVS.html, come from? I have a couple of questions:

* `Immunohaematology` should be spelled `Immunohematology` (without the ae) to align with `hematology` which is also in the valueset
* `Immunohematology` should not be capitalized, as all the other cod

[2018-03-28 18:00] okeefm commented on #35
If so, that's fine. I just wanted to ensure these don't need to go away as a result of the "debranding" I'm supposed to be doing.

[2018-03-28 18:00] cmoesel commented on #36
This needs to be updated in the config.json.  Currently it is set to:
[code]

https://github.com/standardhealth/shr_spec/blob/may-2018-ballot-topic-context/spec/config.json#L2

[2018-03-28 18:05] cmoesel commented on #37
Actually that note still applies.  It's referring to this:

![image](https://user-images.githubusercontent.com/2278253/38047554-efd0dd64-3290-11e8-824d-b1f62d6282d5.png)

That URL is long and unlinked.  Ideally it would just say `cimi-TopicCode-model` and be linked to the appropriate page.  That's not something that publishing is going to fix.

[2018-03-28 18:05] #37 closed, assigned to nobody

[2018-03-28 18:06] cmoesel commented on #38
Oh.  Interesting.  I don't know.  I can look.

[2018-03-28 18:06] markkramerus commented on #39
Good, glad you're getting down to a level of detail here. Done.

[2018-03-28 18:06] #39 closed, assigned to nobody

[2018-03-28 18:07] cmoesel commented on #35
Since @markkramerus asked you to do the debranding, feel free to run it by him.  But I'm not sure how we easily get around this one without instituting some special case code that would have to be turned _off_ when we generate an SHR IG.

[2018-03-28 18:08] markkramerus commented on #36
Fixed.

[2018-03-28 18:08] #36 closed, assigned to markkramerus

[2018-03-28 18:09] rutemartins commented on #37
So which URLs are broken in the build that will be fixed with the publication?

[2018-03-28 18:10] markkramerus commented on #35
It's minimized, but the datatypes are all shr types. So that's why you see it. Thanks for checking. Might as well have a little something in there with SHR :-)

[2018-03-28 18:10] #35 closed, assigned to nobody

[2018-03-28 18:11] markkramerus commented on #34
I wish all bugs were this simple to fix :)

[2018-03-28 18:11] #34 closed, assigned to markkramerus

[2018-03-28 18:15] cmoesel commented on #37
Any that actually _link_ to a URL starting with http://hl7.org/fhir/us/breastcancer/.  Right now, I think that only happens for the value sets in the "Reference Model" documentation.  But @Abhijay is actually working on a separate fix for that so the links _always_ work (even prior to publication).

[2018-03-28 18:29] markkramerus commented on #33
Merged.

[2018-03-28 18:29] #33 closed, assigned to nobody

[2018-03-28 18:42] cmoesel commented on #30
So...  this is as designed.  Here are the relevant CIMPL definitions and mapping rules:

**(1)**

`BreastCancerHistologicGrade` is (eventually) based on `EvaluationResultRecorded`, from which it inherits the `EvaluationResultTopic` field.
[code]

**(2)**

`EvaluationResultTopic` has the following `Value`:
[code]

_Note that it is a choice of many types._

**(3)**

In `BreastCancerHistologicGrade`

[2018-03-28 18:46] cmoesel commented on #28
Good find, Mark.  I've fixed this locally and will push it out to the site after we have a few more fixes in.

![image](https://user-images.githubusercontent.com/2278253/38049581-9c6025b2-3296-11e8-8fc8-9c59bd6d7295.png)

You'll note that it's sliced here.  That's for the same reason as indicated in #30.  If you don't like it, the same fix applies (constraining the value to CodeableConcept in the

[2018-03-28 18:48] rutemartins opened #40 "LateralityVS vs. LeftRightLateralityVS"
I changed the LeftRightLateralityVS in a previous commit to align with the FHIR Laterality vs. I realized there's a LateralityVS (apparently coming from CIMI) that uses NCI codes instead, and seems to be aligned with the "old" LeftRightLateralityVS. Do we give precedence to the CIMI definition or the FHIR definition? Also, why do we need the LateralityVS?

[2018-03-28 18:51] rutemartins opened #41 "ICD-O-3 codes display as a local code system"
ICD-O-3 is not a local code system but the value sets using ICD-O-3 codes resolve as such. Is this because shr-cli can't resolve codes defined as ICDO#XXX?

[2018-03-28 18:55] rutemartins opened #42 "Issues with references to profiles and extensions from VS pages"
The links go back to logical models and profiles, not "just" profiles and extensions. Moreover, the link text is the same and the reader can only distinguish the profile from the model by hovering over the link text.

![image](https://user-images.githubusercontent.com/18464954/38050056-760b7238-328f-11e8-9568-2aa69a65469a.png)

[2018-03-28 18:59] cmoesel commented on #42
This is a duplicate of #38.

[2018-03-28 18:59] #42 closed, assigned to nobody

[2018-03-28 19:02] rutemartins commented on #2
Mark addressed this in the landing page. No need to duplicate.

[2018-03-28 19:02] #2 closed, assigned to nobody

[2018-03-28 19:14] okeefm opened #43 "A sentence was duplicated in a valueset code"
Fixed in https://github.com/standardhealth/shr_spec/pull/81

[2018-03-28 19:51] cmoesel commented on #26
Fixed locally for profiles and logical models.

![image](https://user-images.githubusercontent.com/2278253/38052616-d7c911e6-329f-11e8-8d2d-46861cb14cbf.png)

[2018-03-28 20:03] rutemartins opened #44 "Members vs. evaluation components"
Members seems to be a mandatory attribute for BreastCancerHistologicGrade (but it could apply to other data elements). It seems to be a CIMI construct, but while it's mandatory it is not constrained and doesn't actually contain any individual observations. These are defined under EvaluationComponent. Can we get rid of the members attribute for models that don't use it?

[2018-03-28 20:10] rutemartins opened #45 "Replace "HL7 Cancer Interoperability" Group with "Cancer Interoperability Group" in auto-generated publication note"
The sentence appears on every logical model and profile page.

[2018-03-28 20:11] rutemartins opened #46 "Do we need the category attribute in logical models and profiles?"
Looking at BreastCancerHistologicGrade, the attribute seems somewhat extraneous and a "leftover" from SHR.

[2018-03-28 20:15] rutemartins opened #47 "ConditionTopic.value in BreastCancerPresenceStatement bound to generic value set"
Should it be constrained to BreastCancerTypeVS? Also, seems duplicative of ConditionTopic.TopicCode.Value.

[2018-03-28 20:19] markkramerus commented on #30
Solution is then to have "EvaluationResultTopic value is type CodeableConcept" where the value should be constrained to a CodeableConcept. I'll do that where needed.

[2018-03-28 20:24] markkramerus commented on #30
Fixed in Oncology observations. Should be free of slicing now. I hope!
Leaving open until this is confirmed in the IG.

[2018-03-28 20:27] #29 closed, assigned to nobody

[2018-03-28 20:31] cmoesel commented on #38
Fixed locally.

![image](https://user-images.githubusercontent.com/2278253/38054616-80693696-32a5-11e8-86d8-b435f946f2f5.png)

[2018-03-28 21:22] rutemartins commented on #46
Yes, per US-core

[2018-03-28 21:22] #46 closed, assigned to markkramerus

[2018-03-28 21:26] rutemartins commented on #47
addressed by https://github.com/standardhealth/shr_spec/commit/63418482e77c7e85d16abfcf1f4c2c0e6e14d47e

[2018-03-28 21:26] #47 closed, assigned to markkramerus

[2018-03-28 21:27] markkramerus commented on #45
very minor. I actually think HL7 is appropriate.

[2018-03-28 21:35] markkramerus commented on #44
Changed Members to 0..1

[2018-03-28 21:35] #44 closed, assigned to markkramerus

[2018-03-28 21:39] markkramerus commented on #41
Added a note: Codes are presented as local codes due to the lack of a ICD-O-3 terminology server available to the FHIR IG publisher.

[2018-03-28 21:39] #41 closed, assigned to markkramerus

[2018-03-28 21:46] Abhijay commented on #32
Re-opening an auto-closed commit.

Will close when build is on build.fhir.org and verified

[2018-03-28 21:46] Abhijay commented on #24
Re-opening an auto-closed commit.

Will close when build is on build.fhir.org and verified

[2018-03-28 22:01] cmoesel opened #48 "Bad Value Set URL"
`ConditionTopic` has this:
[code]

That URL points to a Code System _not_ a Value Set.  It needs to point to a Value Set.

See: https://github.com/standardhealth/shr_spec/blob/may-2018-ballot-topic-context/spec/cimi.txt#L306

[2018-03-28 22:08] cmoesel commented on #45
This comes from `config.json`'s `publisher` field, just like in #34.  I've been avoiding changes to shr_spec (don't want too many cooks in the kitchen) -- so re-assigning to Mark and Rute.

[2018-03-28 22:10] rutemartins commented on #48
The correct URL is http://hl7.org/fhir/us/core/ValueSet-us-core-condition-category.html

[2018-03-28 22:13] cmoesel commented on #38
This fix is now live on buid.fhir.org.  The value set referenced above no longer exists, but you can see it in other value sets like this one:
http://build.fhir.org/ig/HL7/us-breastcancer/ValueSet-oncology-NottinghamCombinedGradeVS.html

[2018-03-28 22:13] #38 closed, assigned to cmoesel

[2018-03-28 22:15] cmoesel commented on #32
Verified on build.fhir.org.

[2018-03-28 22:15] #32 closed, assigned to Abhijay

[2018-03-28 22:18] cmoesel commented on #30
Confirmed free of slicing on build.fhir.org.

![image](https://user-images.githubusercontent.com/2278253/38059448-79601216-32b4-11e8-9069-97f743ecbcdc.png)

[2018-03-28 22:19] #30 closed, assigned to nobody

[2018-03-28 22:20] cmoesel commented on #28
Confirmed fixed on build.fhir.org.

[2018-03-28 22:20] #28 closed, assigned to nobody

[2018-03-28 22:23] cmoesel commented on #48
Well... not exactly.  You have to use the "defining" URL of the value set.  If you click the link @rutemartins provided, you'll see the defining URL specified there as http://hl7.org/fhir/us/core/ValueSet/us-core-condition-category.

So the fix needs to be:
[code]

[2018-03-28 22:25] cmoesel commented on #24
Confirmed working on build.fhir.org.

[2018-03-28 22:25] #24 closed, assigned to Abhijay

[2018-03-28 22:25] cmoesel commented on #26
Confirmed fixed in build.fhir.org.

[2018-03-28 22:25] #26 closed, assigned to nobody

[2018-03-28 22:34] cmoesel opened #49 "Descriptions markdownified to code blocks"
Markdown treats text that is indented as a code block.  As a result, some of the multi-line descriptions are getting incorrectly rendered as code blocks because they are indented in the CIMPL.  For example:

![image](https://user-images.githubusercontent.com/2278253/38059962-a848e966-32b6-11e8-9224-acffc881a4d8.png)

Ends up like this in the _definitions_ page:
![image](https://user-images.githubu

[2018-03-28 23:13] cmoesel opened #50 "Wrong code for M Category"
Currently, we have this definition:
[code]

But `SCT#126926005` is really the code for `Neoplasm of the breast`.

I believe the correct code is `SCT#277208005` (M category).

[2018-03-28 23:31] cmoesel opened #51 "(Slightly) wrong display text for SCT#126926005"
We currently have this:
[code]

This results in an IG Publisher warning:
![image](https://user-images.githubusercontent.com/2278253/38061725-80d954ee-32be-11e8-8a19-967287ab56a6.png)

It turns out the publisher is really picky.  We have `Neoplasm of breast` but it wants `Neoplasm of breast (disorder)`.

If we fix it to this, the publisher is happy:
[code]

[2018-03-29 00:24] cmoesel commented on #40
Mark removed the LeftRightLateralityVS in this commit:
https://github.com/standardhealth/shr_spec/commit/937f31c8091cff6a3ec33bbc90a77ebb15c5944f

I'm assuming that means this issue can be closed, but would like @markkramerus to confirm.

[2018-03-29 00:25] #43 closed, assigned to nobody

[2018-03-29 00:25] cmoesel commented on #43
Mark manually merged this in.

[2018-03-29 01:16] rutemartins commented on #40
I can confirm - he did it while I was watching!

[2018-03-29 01:16] #40 closed, assigned to markkramerus

[2018-03-29 01:36] rutemartins commented on #51
It seems like we have to use the fully specified name for the SNOMED-CT code, which makes sense. The resolution will be a bit different though, since the code is incorrect: a neoplasm of the breast can be a benign tumor, so I will replace with a more appropriate code and make sure to include the fully specified description.

[2018-03-29 01:50] rutemartins opened #52 "Missing code for BreastCancerStage.EvaluationResultTopic.Value?"
BreastCancerStage.EvaluationResultTopic.TopicCode is set to "malignant neoplasm of breast staging", which I *think* is the CIMI "answer". However BreastCancerStage.EvaluationResultTopic is just contrained to be CodeableConcept. Should we include a code? I'm at a loss for what it should be, although I suspect some sort of "question"?

[2018-03-29 02:03] rutemartins opened #53 "Extraneous attributes for BreastCancerStage"
Seems like there are some extraneous attributes for BreastCancerStage.EvaluationResultTopic. Suggest additional constraints:

[code]

The stage group is assigned based on a wealth of information, which usually won't be constrained to a single anatomical location (if the cancer is metastatic) or specimen, since it may derive from clinical findings only. Doesn't seem very plausible this information

[2018-03-29 02:26] rutemartins opened #54 "Do we really need EvaluationComponent for HER2.EvaluationResultTopic?"
HER2byISH and HER2byIHC are members. Suggest adding

[code]

[2018-03-29 02:33] rutemartins opened #55 "Should HER2byIHC.EvaluationResultTopic.FindingMethod be a fixed code?"
Right now we refer to a single code value set:
[code]
Suggest:
[code]

[2018-03-29 02:43] rutemartins opened #56 "HER2ReceptorStatus and DiagnosticService"
On `HER2ReceptorStatus`, `DiagnosticService` is set to `pathology`. The attribute exists but is not set for `HER21ReceptorStatus` members.

If we want it to be at the `HER2ReceptorStatus` level, should we zero the attribute out in the members? Conversely, should `DiagnosticService` only be assigned at the members level, since those are labs vs. evaluation results?

[2018-03-29 02:52] rutemartins opened #57 "HER2byIHC and HER2byISH attribute issues"
These attributes seem extraneous for these elements:
[code]

Also, specimen should be constrained to:
[code]

[2018-03-29 02:56] rutemartins opened #58 "NuclearPositivity range vs. exact value"
We should indicate somewhere how someone could report an exact NuclearPositivity using a range. Suggest adding to the description:

[code]

[2018-03-29 03:01] rutemartins opened #59 "Feedback needed on MitoticCountScore"
Add to MitoticCountScore description:

[code]

[2018-03-29 03:07] rutemartins opened #60 "Feedback on OncotypeDx"
Suggest adding to the descriptions of `OncotypeDxDCISRecurrenceScore` and `OncotypeDxInvasiveRecurrenceScore`:

[code]

[2018-03-29 03:18] markkramerus commented on #60
fixed.

[2018-03-29 03:18] #60 closed, assigned to markkramerus

[2018-03-29 03:23] markkramerus commented on #48
fixed

[2018-03-29 03:23] #48 closed, assigned to markkramerus, rutemartins

[2018-03-29 03:28] markkramerus commented on #51
Not sure about this. We have some input that the condition might be reported before it is fully characterized. It might be determined to be malignant sometime after it has been detected.

[2018-03-29 03:30] markkramerus commented on #59
Added.

[2018-03-29 03:30] #59 closed, assigned to markkramerus

[2018-03-29 03:32] markkramerus commented on #58
Added.

[2018-03-29 03:32] #58 closed, assigned to markkramerus

[2018-03-29 03:37] markkramerus commented on #57
Fixed.

[2018-03-29 03:37] #57 closed, assigned to markkramerus

[2018-03-29 03:41] markkramerus commented on #56
Members are independent, self-contained, complete observations, so the DiagnosticService should be set on each HER test. Added DiagnosticService to the 2 HER2 classes

[2018-03-29 03:41] #56 closed, assigned to markkramerus

[2018-03-29 03:42] markkramerus commented on #55
Can't do that because the code system is required - but since it is a local code, the code system doesn't exist until after the IG is run. Have to leave it as-is.

[2018-03-29 03:42] #55 closed, assigned to markkramerus

[2018-03-29 03:44] markkramerus commented on #54
Fixed.

[2018-03-29 03:44] #54 closed, assigned to markkramerus

[2018-03-29 03:48] markkramerus commented on #53
Not sure what you mean by changing the description of the data element. Looks ok to me.

[2018-03-29 03:48] #53 closed, assigned to markkramerus

[2018-03-29 03:48] markkramerus commented on #53
(I did put the 0..0 element as suggested)

[2018-03-29 03:49] cmoesel opened #61 "Logical Model types show up as unlinked URLs in the snapshot table"
Due to a bug/limitation in the FHIR IG publisher, logical model snapshot tables use long, unlinked URIs.

![image](https://user-images.githubusercontent.com/2278253/38069092-9060cbe4-32e2-11e8-8b0f-547b216909d4.png)

[2018-03-29 03:51] cmoesel commented on #61
Fixed locally via post-processing of the Jekyll includes and tons of string matching.  Not a pretty solution, but certainly a pretty outcome.

![image](https://user-images.githubusercontent.com/2278253/38069156-e71fde48-32e2-11e8-8316-bb6572a429b3.png)

[2018-03-29 03:51] markkramerus commented on #52
"malignant neoplasm of breast staging" is the question. EvaluationResultTopic value is the answer; it is the stage itself. It used to be the BreastCancerStageVS before the stripping of AJCC content.

[2018-03-29 03:51] #52 closed, assigned to markkramerus

[2018-03-29 03:52] markkramerus commented on #61
much better

[2018-03-29 03:55] cmoesel commented on #19
I've implemented the concept of primary selection strategies.  The default strategy is the "entry" strategy, which makes all entries "primary" profiles and models.

I've added a new "namespace" strategy that allows you to say that any elements in a list of namespaces should be considered "primary".  For example, if we want all `oncology` elements to be in the "primary" listing of profiles and mode

[2018-03-29 03:58] cmoesel opened #62 "Primitive Extensions are not needed"
It seems this IG doesn't need the primitive extensions.  We should remove them.

[2018-03-29 03:59] markkramerus commented on #19
Added; we'll give it a try.

[2018-03-29 04:15] markkramerus commented on #50
fixed & committed

[2018-03-29 04:15] #50 closed, assigned to rutemartins

[2018-03-29 04:19] cmoesel commented on #62
Deployed.

[2018-03-29 04:19] #62 closed, assigned to cmoesel

[2018-03-29 04:20] cmoesel commented on #61
Deployed.

[2018-03-29 04:20] #61 closed, assigned to cmoesel

[2018-03-29 04:21] cmoesel commented on #49
Deployed.

[2018-03-29 04:21] #49 closed, assigned to cmoesel

[2018-03-29 04:24] cmoesel commented on #51
Deployed

[2018-03-29 04:24] #51 closed, assigned to rutemartins

[2018-03-29 04:25] cmoesel commented on #19
Deployed.

[2018-03-29 04:25] #19 closed, assigned to cmoesel

[2018-03-29 04:29] cmoesel commented on #10
I replaced the zip with a link to the latest build.

[2018-03-29 04:29] #10 closed, assigned to nobody

[2018-03-29 13:09] okeefm opened #63 "One more Pull Request with copy edits"
A final batch of copy edits, this time to `breastCancerIndexContent.html`, which I didn't get a chance to look at last time.

@cmoesel I removed the paragraph regarding the property type URLs in logical models, because I'm pretty sure that's been fixed. If that's not correct, let me know.

[2018-03-29 13:20] cmoesel commented on #63
https://github.com/standardhealth/shr_spec/pull/83

[2018-03-29 13:24] okeefm commented on #63
Thanks. Meant to link this, but apparently got distracted.

[2018-03-29 13:26] rutemartins commented on #53
The data element description has some notes about CIMI alignment that refer to these attributes, which will no longer be there

[2018-03-29 14:53] markkramerus commented on #45
I'm sticking with HL7.

[2018-03-29 14:53] #45 closed, assigned to markkramerus, rutemartins

[2018-03-29 15:26] markkramerus commented on #63
done

[2018-03-29 15:26] #63 closed, assigned to markkramerus, cmoesel

[2018-03-29 16:31] cmoesel opened #64 "Logical Models w/out constraints have empty constraint table"
This looks silly.

![image](https://user-images.githubusercontent.com/2278253/38101042-1abbb3de-334d-11e8-8789-d387a1b7518c.png)

We should suppress it when it's empty.

[2018-03-29 16:35] cmoesel opened #65 "Format Tabs (XML/JSON/Turtle) don't show which is selected"
If you pick XML, JSON, or Turtle, the tab should highlight to show you've selected it.

Broken:
![image](https://user-images.githubusercontent.com/2278253/38101109-5d246400-334d-11e8-9b80-cf832d78647d.png)

Fixed:
![image](https://user-images.githubusercontent.com/2278253/38101190-9794e394-334d-11e8-8764-c8f168f09e6b.png)

[2018-03-29 16:51] cmoesel commented on #65
Deployed.

[2018-03-29 16:51] #65 closed, assigned to cmoesel

[2018-03-29 16:51] cmoesel commented on #64
Deployed.

[2018-03-29 16:51] #64 closed, assigned to cmoesel

[2018-03-31 16:33] markkramerus opened #66 "Invalid expansion in PositiveNegativeVS"
IG has an expansion error due to using MTH#xxxxxx code in VS

[2018-03-31 16:34] markkramerus commented on #66
Fixed in may-2018-post-ballot branch

[2018-03-31 16:34] #66 closed, assigned to nobody

[2018-04-02 12:45] markkramerus opened #67 "Profile extensions are missing (CLI #84)"
See CLI issue #84. This is just a duplicate of that one. The gist is that the profiles are missing some extensions that should be there. It's a big deficit.